body {
    background-color: #808080;
    color: #adff2f;
    border: 10px solid #000000;
    padding: 1rem;
}
table{
    margin: auto ;
    margin-top: 35px 45px;
    margin-bottom: 35px 45px;
}
.book-card {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    transition: 0.3s ease;
    background: #fff;
}