body {
    background-color: #808080;
    color: black;
    border: 10px solid #000000;
    padding: 3%;
}
table{
    margin: auto ;
    background-color: #f0f8ff;
}
/*td{
    padding-top: 20px;
    padding-bottom: 20px;
    
}*/
img{
    max-width: 100%;
    height: auto;
}
.icon {
    width: 40px;
    height: 40px;
}*/
.book-card button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    font-size: 14px;
}
.book-card {
    text-align: left;
    padding: 3px;
    border: 2px transparent burlywood;
    transition: 0.3s ease;
}
.books {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
}
.left{
    width: 20%;
    background-color: #f0ffff;
    padding: 20px 35px;
}
.right{
    width: 80%;
    background-color: #faebd7;
    padding: 20px 35px;
}
.container{
    display: flex;
    height: 1000px;
}