body {
    background-color: #808080;
    color: white;
    border: 10px solid #000000;
    padding: 3%;
}
table{
    margin: auto ;
    background-color: #f0f8ff;
}
/*td{
    padding-top: 20px;
    padding-bottom: 20px;
    
}*/
.img{
    width:200px;
    height: 200px;
    width: fit-content;
}
.book-card {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    transition: 0.3s ease;
    background: #fff;
}
.left{
    width: 20%;
    background-color: #f0ffff;
    padding: 20px 35px;
}
.right{
    width: 80%;
    background-color: #faebd7;
    padding: 20px 35px;
}
.container{
    display: flex;
    height: 1000px;
}